@page "/"

<h1>Testing chat call</h1>

﻿<EditForm OnValidSubmit="OnValidSubmitAsync" Model="_request">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <MudTextField Label="Chat" @bind-Value="_request.Prompt" For="() => _request.Prompt" />
        </MudItem>
        <MudItem xs="12">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Outlined.Check">
                Send
            </MudButton>
        </MudItem>

        @if (_response is not null)
        {
            <MudItem xs="12">
                <MudTextField Label="Response" @bind-Value="_response.Response"/>
            </MudItem>      
        }
    </MudGrid>
</EditForm>