html, body {
    height: 100vh;
}

.caisy-header {
    font-weight: bold;
}

.ai-header {
    color: var(--mud-palette-secondary);
}

/* MudBlazor Overrides */
.alert-code-block > .mud-alert-position {
    display: block !important;
}

.mud-nav-link-text, .mud-button {
    font-family: "Orbitron";
}

/* MudBlazor Markdown Overrides */
.mud-markdown-body p:last-child {
    margin-bottom: 0px !important;
}

.mud-markdown-body code {
    margin-bottom: 0em;
}

.mud-markdown-body p:not(:first-child) {
    margin-top: 1.25em;
}