@page "/profile"

<h3>
    Profile
</h3>

﻿<EditForm OnValidSubmit="OnValidSubmitAsync" Model="_model">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <MudTextField Label="Api Key" @bind-Value="_model.ApiKey" For="() => _model.ApiKey" />
        </MudItem>
        <MudItem xs="12">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Outlined.Check">
                Save
            </MudButton>
        </MudItem>
    </MudGrid>
</EditForm>