name: Deploy app

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group:  ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Test
      run: dotnet test -c Release --collect:"XPlat Code Coverage" --results-directory ./coverage
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
    - name: Publish
      run: dotnet publish -c Release -o drop
    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v2
      with:
        name: .net-app
        path: drop

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: .net-app
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'caisy'
          slot-name: 'production'
          publish-profile: ${{ secrets.PublishProfile }}
          package: 'cAIsy'
          