name: Deploy app

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group:  ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    environment:
      name: 'production'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Test
      run: dotnet test -c Release --collect:"XPlat Code Coverage" --results-directory ./coverage
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
    - name: Publish
      if: github.ref == 'refs/heads/main'
      run: dotnet publish -c Release --property:PublishDir='./app'
    - name: Deploy to Azure Web App
      if: github.ref == 'refs/heads/main'
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'caisy'
        slot-name: 'production'
        publish-profile: ${{ secrets.PublishProfile }}
        package: './app'
          